# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.log

# Production
dist/
build/
out/
.next/

# Environment
.env
.env.local
.env.*.local
*/.env
*/.env.local
*/.env.*.local

# Foundry
cache/
out/
broadcast/

# TypeScript
*.tsbuildinfo

# Misc
*.pem
*.key
